@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
    box-sizing: border-box;
}

.load-game-container {
    background-image: url("../images/invasion2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Audiowide', Georgia;
    color: white;
}

.load-title {
    text-align: center;
    padding: 20px 0px;
    font-size: 25px;
}

.load-area {
    text-align: center;
}

.load-file {
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 50%;
    color: black;
    cursor: pointer;
}

.load-file:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 3px solid white;
}

.load-game-go-back {
    text-align: center;
}

.load-game-back-btn {
    border: none;
    background-color: transparent;
    font-family: 'Audiowide', Georgia;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    margin: 40px 5px 10px;
    transition-duration: 0.5s;
}

/*.load-game-back-btn:hover {
    background-color: white;
    color: black;
}*/