@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
    box-sizing: border-box;
}

.new-game-container {
    background-image: url("../images/invasion2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Audiowide', Georgia;
    color: white;
}

.new-file {
    text-align: center;
    padding: 20px 0px;
}

input[type=text] {
    padding: 8px 20px;
    margin: 10px 0px;
    font-size: 16px;
}

.difficulty {
    text-align: center;
    padding: 20px;
}

[class*="mode"] {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Audiowide', Georgia;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    transition-duration: 0.5s;
}

[class*="mode"]:hover {
    background-color: white;
    color: black;
}

[class*="mode"]:active {
    transform: translateY(5px);
}

.new-game-go-back {
    text-align: center;
}

.new-game-back-btn {
    margin: 40px 5px 10px;
}